@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.quiz
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #505050;
    margin-top: 50px;
    margin-bottom: 50px;
}

.quiz .content
{
    width: 70%;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    padding: 30px;
}

.quiz .header
{
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.progress 
{
    height: 1.3rem !important;
}

.progress-bar
{
    font-size: 1rem !important;
    font-weight: 500 !important;
    min-width: 40px;
}

.quiz .logo
{
    width: 150px;
    margin-bottom: 10px;
}

.quiz .questionNumber 
{
    margin-top: 30px;
}

.quiz .questionCategory p
{
    margin-bottom: 0;
}

.quiz .questions 
{
    margin-bottom: 50px;
    margin-top: 30px;
}

.quiz .answers
{
    display: flex;
    justify-content: space-evenly;
}

.quiz .answers p
{
    cursor: pointer;
    border: 1px solid #505050;
    text-align: center;
    padding: 8px 30px;
    font-weight: 500;
    border-radius: 3px;
    background: #fbfbfb;
}

.quiz .nextQuestion 
{
    text-align: center;
}

.quiz .nextQuestion .correct
{
    color: #43d643;
    font-weight: 600;
    font-size: 1.3em;
}

.quiz .nextQuestion .wrong
{
    color: #d64343;
    font-weight: 600;
    font-size: 1.3em;
}

.quiz .nextQuestion button
{
    cursor: pointer;
    border: 1px solid #505050;
    text-align: center;
    padding: 8px 50px;
    font-weight: 500;
    background: transparent;
}

.quiz .incorrect-answer
{
    opacity: 0.5;
    pointer-events: none;
}

.quiz .correct-answer
{
    pointer-events: none;
    color: black;
}

.quiz .start p
{
    border: 2px solid #505050;
    padding: 10px 40px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}

.quiz .progress-score
{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.quiz .progress-score p 
{
    font-weight: 500;
    font-size: 1.2rem;
}

/* MDEIA QUERIES */

@media (max-width: 767px)
{
    .quiz .content 
    {
        width: 95%;
        padding: 10px;
    }

    .quiz .answers 
    {
        flex-wrap: wrap;
    }

    .quiz .answers div
    {
        width: 100%;
    }
}